<div class="grid place-content-center h-svh bg-gradient-to-r from-pink-300 via-purple-300 to-indigo-400">
    <div
        class="h-96 md:w-96 flex flex-col items-center bg-white bg-opacity-20 backdrop-filter backdrop-blur-lg border border-gray-200 p-4 rounded-md shadow-md">
        <div class="mt-8 mb-8">
            <add-wish-form (addWish)="items.push($event)"></add-wish-form>
            <div class="my-4">
                <wish-filter [(filter)]="filter"></wish-filter>
            </div>
            <div>
                <wish-list [wishes]="items.filter(filter)"></wish-list>
            </div>
        </div>
    </div>
</div>