<div class="text-emerald-600 grid place-content-center h-svh">

  <form action="" class="flex gap-x-2">
    <div class="flex gap-x-4">
      <label for="wishText">Wish</label>
      <input type="text" name="new-wish-text" [(ngModel)]="newWishText" class="border border-emerald-600">
    </div>
    <div>
      <button class="border border-emerald-600 bg-slate-200 hover:bg-slate-300 p-2" type="submit"
        (click)="$event.preventDefault; addNewWish()">Add Wish</button>
    </div>
  </form>

  <div class="my-4">
    <div>
      <select [(ngModel)]="listFilter" class="border border-emerald-600">
        <option value="0">All</option>
        <option value="1">Completed</option>
        <option value="2">Pending</option>
      </select>
    </div>
  </div>

  <div>
    <wish-list [wishes]="visibleItems">
    </wish-list>
  </div>

</div>