<div class="text-emerald-600 grid place-content-center h-svh">

  <form action="" class="flex gap-x-2">
    <div class="flex gap-x-4">
      <label for="wishText">Wish</label>
      <input type="text" name="new-wish-text" [(ngModel)]="newWishText" class="border border-emerald-600">
    </div>
    <div>
      <button class="border border-emerald-600 bg-slate-200 hover:bg-slate-300 p-2" type="submit"
        (click)="$event.preventDefault; addNewWish()">Add Wish</button>
    </div>
  </form>

  <div *ngIf="items.length === 0; else showItems">
    No wishes to display
  </div>

  <ng-template #showItems>
    <ul>
      <li *ngFor="let item of items; index as ii">
        <div>
          <label for="">
            <input type="checkbox" name="" id="" [checked]="item.isComplete" [attr.data-index]="ii"
              (click)="toggleItem(item)"> {{item.wishText}}
          </label>
        </div>
      </li>
    </ul>
  </ng-template>

</div>