<div
    class="flex justify-between px-4 py-3 bg-white bg-opacity-30 backdrop-filter backdrop-blur-2xl dark:bg-gray-900 fixed w-full z-20 top-0 start-0 border-b border-gray-200 dark:border-gray-600">
    <button (click)="goToWish()" class="font-mono text-2xl grid place-content-center ml-4">
        Wishlist
    </button>

    <div class="flex space-x-4 mr-4 text-lg font-mono">
        <button (click)="goToWish()" class="hover:text-blue-800">
            Wishes
        </button>

        <button (click)="goToContact()" class="hover:text-blue-800">
            Contact
        </button>
    </div>
</div>
<router-outlet></router-outlet>